<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPG Knights Home</title>
    <style media="screen">
      body {
        background-color: #333;
        color: #c1c1c1;
      }
      a {
        color: gold;
      }
      a:visited {
        color: cornflowerblue;
      }
    </style>
  </head>
  <body>
    <article class="">
      <section>
        <ul>
          <li><a href="/actor">Character Creation</a></li>
          <li><a href="/dice">Dice</a></li>
        </ul>
      </section>
    </article>
  </body>
</html>
